td {
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.horizontalTop {
  border-bottom: 3px solid black;
}

.horizontalBottom {
  border-top: 3px solid black;
}

.horizontalMid {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
